VITE_API_URL=https://visitchoco-backend.vercel.app
VITE_PUBLIC_URL=https://visitchoco.cloud
VITE_UMAMI_URL=https://stats.visitchoco.cloud/script.js
VITE_UMAMI_WEBSITE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
